/* General styles */
html, body {
    height: 100%;
}

main { 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #1C191F;
    color: #FEFDF9;
}

/* Header */
header {
    display: flex;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
    position: relative;
    top: 0;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    letter-spacing: 2px;
    font-size: 110%;
    padding-top: 10px;
}

#menu>li {
    margin-bottom: .5em;
    list-style-type: none;
    text-align: right;
}

.logo {
    color: #FEFDF9;
    margin: 0;
}

/* Navigation & toggles - Mobile first  */

.fa-bars {
    font-size: xx-large;
}

nav {
    position: absolute;
    display: none;
    background-color: #FEFDF9;
    color: #1C191F;
    box-shadow: 0 2px 2px #3a3a3a;
    list-style-type: none;
    padding-right: 10px;
    z-index: 1;
    width: 200px;
    margin-right: 0;
}

#nav-mobile-toggle:checked~nav {
    display: block;
}

#nav-mobile-toggle {
    display: none;
    align-items: center;
}

.nav-mobile-toggle-label {
    font-size: 2rem;
    padding-left: 1rem;
}

.active {
    border-bottom: 1px solid;
}

#nav-report-button {
    font-weight: bold;
    color: #000000;
    background-color: rgb(221, 255, 0);
    padding: 10px 20px;
    border-radius: 12px;
}

#nav-safety-button {
    font-weight: bold;
    color: #ff0000;
    background-color: rgb(221, 255, 0);
    padding: 10px 20px;
    border-radius: 12px;
}

/* Map */
#map {
    height: 300px;
    width: 450px;
}

/* Page 3 report form */
#confirmDescription {
    margin-bottom: 8px;
    border-bottom: 1px solid #ccc; 
    padding-bottom: 10px; 
   
}

#confirmLocation {
    margin-bottom: 8px;
}

#pageThree {
    border: 2px solid #000; 
    padding: 20px; 
    border-radius: 8px; 
    text-align: center; 
    width: 80%; 
    margin: 0 auto; 
}

.bold {
    font-weight: bold; 
}

/* Page 5 report form */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left; 
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 300px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional styling */
}

/* Style input fields */
input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%; 
    padding: 8px;
    margin: 10px 0; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#pageFive label {
    font-weight: bold;
    display: block; /* Ensure labels and inputs are on separate lines */
    margin-bottom: 5px; /* Add space between label and input */
}

legend {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Page headers */
.page-header {
    font-weight: bold;
    font-style: initial;
    top: 0;
    padding-top: 20px;
    padding-bottom: 15px;
    width: 80%;
    margin: 0 20px;
}

/* Article & Context formatting */
.article-h4 {
    font-weight: bold;
    padding: 5px 0;
    text-transform: none;
}

.page-context {
    margin: 0 20px;
}

/* Contact page */
#contact {
    display: flex;
    position: relative;
    width: 90%;
    max-width: 350px;
    padding: 20px 15px;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
    border: 2px solid #3a3a3a;
    border-radius: 25px;

#contact-form {
        min-width: 200px;
        max-width: 320px;
    }
}
/* Footer */

/* Map */
#map {
    height: 300px;
    width: 450px;
}

footer {
    position: relative;
    margin-top: auto;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    justify-content: space-between;
}

footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 0;
}

footer a {
    color: inherit;
    text-decoration: none;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 80vh;

    background: radial-gradient(circle, white 50%, #a9a9a9);
}

.hero-container {
    background-image: url('../images/background.webp');
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container h1 {
    padding: 10px;
    margin: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/* Media queries */
@media screen and (min-width: 1200px) {
    nav {
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 768px) {

    nav {
        display: block;
        position: absolute;
        background-color: #1C191F;
        color: #FEFDF9;
        position: relative;
        box-shadow: none;
        font-size: 80%;
        padding: 0;
        margin-right: 0;
        width: 100%;
    }

    .nav-mobile-toggle {
        display: block;
    }

    .nav-mobile-toggle-label {
        display: none;
    }

    #menu {
        display: flex;
        margin: 5px, 0;

    }

    .logo {
        margin: 0
    }

    header li {
        margin: 0 5px;
        padding-right: 5px;
        border-right: 2px solid;
        border-color: #FEFDF9;
        align-self: center;
    }

    .burger-container {
        display: none;
    }
    #nav-report-button {
        padding: 5px 5px;
        font-size: 100%;
    }

    #nav-safety-button {
        padding: 5px 5px;
        font-size: 100%;
    }

    #contact {
        position: relative;
        max-width: 600px;
        margin: auto;
        margin-top: 20px;
        justify-content: center;
        border: 2px solid #3a3a3a;
        border-radius: 25px;
    }

    #contact-form {
        max-width: 550px;
    }

    .contact-header {
        position: relative;
        max-width: 800px;
        margin: 20px auto;
    }

}

@media screen and (min-width: 576px) {

    fieldset {
        width: 90%; /* Adjust for smaller screens */
    }
}

@media screen and (min-width: 376px) {

}